<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="userName" value="fakeUser"/>
    <add key="password" value="fakepassword"/>
    <add key="teamcityUrl" value="http://localhost"/>
    <add key="portNumber" value="80"/>
    <add key="scanRate" value ="5"/>
  </appSettings>
</configuration>
